:root {
    --v-d-grayishBlue: hsl(217, 19%, 35%);
    --d-d-darkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --l-grayishBlue: hsl(210, 46%, 95%);

    --principal-font: 'Manrope', sans-serif;;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.5rem;
    font-family: var(--principal-font);
    background-color: var(--l-grayishBlue);
}
main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
img { max-width: 100%; }
h1, h2, h3 {
    margin: 0;
}

/* CARD */
.card {
    max-width: 75rem;
    display: flex;
    height: 26.4rem;
}

/* IMAGE */
.image {
    background-image: url(../images/drawers.jpg);
    width: 33rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

/* CONTENT */
.content {
    max-width: 48rem;
    background-color: white;
    padding: 2rem 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.content h1 {
    font-size: 2.2rem;
    color: var(--v-d-grayishBlue);
    line-height: 1.3;
}
.content p {
    line-height: 1.4;
}

/* CONTENT-MEDIA */
.content-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

/* USER INFO */
.user-info {
    display: flex;
    gap: 1.5rem;
}

/* MEDIA IMAGE */
.media-image {
    background-image: url(../images/avatar-michelle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


/* MEDIA INFO */
.media-info h2, .media-info h3{
    font-size: 1.5rem;
}
.media-info h2 {
    color: var(--v-d-grayishBlue);
    font-weight: bold;
}
.media-info h3, .content-text p {
    color: var(--grayishBlue);
    font-weight: 500;
}
.media-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

/* SHARE */
.share {
    cursor: pointer;
    background-color: var(--l-grayishBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

@media (max-width: 375px) {
    
    .card {
        flex-direction: column;
        height: 100%;
        max-width: 90vw;
        margin-top: 15rem;
    }
    .image {
        height: 20rem;
        width: 100%;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }
    .content {
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0rem;
    }
}

